.AuthPage {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--tan-2);
    border-radius: 2vmin;;
    padding-top: 2vmin;
    flex-direction: column;
  }
  
  .AuthPage h3 {
    margin-top: 4vmin;
    text-align: center;
    color: var(--text-light);
    cursor: pointer;
  }

  .form-container {
    margin-top: 20px;
  }
