textarea {
    margin: 0 auto;
}

form {
    display: block;
    align-items: center;
    margin: 0 auto
}

.comments {
    margin: 0 auto
}

.portal-card {
    background-color: var(--tan-2);
    padding: 3vmin;
    color: var(--text-light)
}